//typography
$ulsize: 35px;
$lisize: round($ulsize*.8);
$ulfont: Georgia;

//colors
$ulcolor: #e667a2;
$licolor: complement($ulcolor);
$licolordiff: invert($ulcolor);
$bgcolorgrit: invert(grayscale($ulcolor));
$bgcolorgr: mix($ulcolor, $bgcolorgrit, 20);
$bgcolorborder: adjust-hue($bgcolorgr, 20);

//screensize
$screen: 1000px;

/*My Variables*/
$myfont-family: Didot;
$mytext-size: 45px;
$myborder-color: rgb(72, 38, 136);
$myborder-width: 10px;
$myborder-bgcolor: rgba(235, 98, 116, 0.7);
$myborder-style: double;